<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <select name="bank_code" required>
        <option value="">Select Bank</option>
        <option value="058">GTBank</option>
        <option value="044">Access Bank</option>
        <option value="011">First Bank</option>
        <option value="033">UBA</option>
        <option value="232">Sterling Bank</option>
    </select>
    
</body>
</html>


